*

# config
!/config/fancymenu
!/config/fancymenu/**
!/config/drippyloadingscreen
!/config/drippyloadingscreen/**
!/config/ftbquests
!/config/ftbquests/**
!/config/jade
!/config/jade/**
!/config/ModernUI
!/config/ModernUI/**
!/config/gtceu.yaml
!/config/tips.json
!/config/betterf3.toml
!/config/embeddium-options.json
!/config/sodium-extra-options.json
!/config/RuOK.toml
!/config/integrateddynamics-common.toml
!/config/defaultworldtype
!/config/defaultworldtype/**
!/config/ftbteamskyblock
!/config/ftbteamskyblock/**
!/config/exdeorum-common.toml
!/config/inventoryprofilesnext/inventoryprofiles.json
!/config/inventoryprofilesnext/integrationHints
!/config/inventoryprofilesnext/integrationHints/**



# defaultconfig
!/defaultconfigs
!/defaultconfigs/**

!/kubejs
!/kubejs/**

!/resourcepacks
!/resourcepacks/**

# other
!/options.txt
!/.gitignore
!README.md